
<style>
.omgbtn {border: 0;
border-bottom: 3px solid #a80000;
background-color: #dd390d;
color: white;
padding: 5px 15px;
width: auto;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
cursor: pointer;
line-height: 16px;
}

input {
	font-size:20px;
}


  .avatar-frame{
    box-shadow: -5px 5px 4px rgba(30,30,30,0.5);
  
  }
  .avatar-frame,.avatar-frame img{
  width: 90px;
  height: 90px;
  -webkit-border-radius: 75px; /* Saf3+, Chrome */
  border-radius: 75px; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px; Disabled for FF1+ */
  margin:auto;
  }

  .btn-omg {
    margin-left:20px;
    border-color:#BF0D0D !important;

}

a.btn-omg {
	    color: #BF0D0D !important;
}
a.btn-omg:hover {
  background-color:#BF0D0D;
  color:white !important;
}


</style>
		<nav class='navbar navbar-default' role='navigation'>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class='navbar-header'>
				<a class="navbar-brand" href="/">
					<b>Learn2Code4Kids</b>
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
		</nav>

	

















<br style="clear:both;" />


	  <div class="col-sm-3 col-xs-12 booyah-box goosehunter" style="padding-left:40px;">
    <h3 class="text-center" style="margin:10px;"><b>Marco Morawec</b></h3>
    <div class='avatar-frame text-center'>

    <img alt="Marco" src="http://www.firehoseweekend.com/assets/marco-3ffcb66b035a76c5cf237d7aab4dfa52.jpg" />
</div>

    <h4 class="text-center" style="font-weight:200; color:#777777;">Your Child's Mentor</h4>

  </div>


  <div class="col-sm-7 col-sm-offset-1 col-xs-12 col-xs-offset-0 booyah-box" style="height:206px;padding:0px;background-color:#F4F4F4">
    <div style="background-color:#d3360b; font-size:18px; font-weight:bold; color:white; padding:8px; border-bottom:1px; border-color:#BF0D0D; border-bottom-style:solid;">
      Have any questions?  Schedule a call with Marco!
    </div>
    <h2 style="font-family:Helvetica Neue, Helvetica, sans-serif;font-weight:200; margin-left:20px; margin-top:10px;" class="pull-left"><%= closest_weekday_in_future.strftime("%A, %B %d") %></h2>
    <div class="pull-right" style="margin-top:20px; margin-right:20px;">
      <a href="https://marco-vca.youcanbook.me/">View More Times &raquo;</a></div>

      <hr style="clear:both;" />
    <div class="col-xs-10 col-xs-offset-1" style="margin-top:10px;">
    <a class="btn btn-default btn-sm btn-omg" href="https://marco-vca.youcanbook.me/" style="border-color:#357ebd;color:#256e9d;">11:15 AM</a>
    <a class="btn btn-default btn-sm btn-omg" href="https://marco-vca.youcanbook.me/" style="border-color:#357ebd;color:#256e9d;">04:15 PM</a>


    <a class="btn btn-default btn-sm btn-omg" href="https://marco-vca.youcanbook.me/" style="border-color:#357ebd;color:#256e9d;">05:45 PM</a>
  </div>

  </div>

  <br style="clear:both;" />
  <br style="clear:both;" />
  <br style="clear:both;" />
  <h2>Firehose Ruby on Rails Syllabus</h2>

  <div class="booyah-box padded-box">
    <strong style="font-size:26px; color:#526075;">Overview</strong>
    <i class="pull-right" style="color:#444;">3 Months, 10 hours per week</i>
    <br style="clear:both;" />
    <ul>
      <li>More one-on-one mentor sessions than an in-person bootcamp</li>
      <li>Build real-world projects</li>
      <li>No coding experience needed</li>
      <li>Our moderated forum gives you coding help as soon as you have a problem so you'll never get "stuck" again</li>
      <li>Get help building your idea from expert web developers</li>
    </ul>
  </div>







		<div class='col-xs-12 col-sm-10 col-sm-offset-1' id="vip-section">
			<h1 class="text-center">Coding resources for your 7-10 Year Old</h1>
			<h2 class="text-center">
				Here are some the best resources for your child - get coding!
			</h2>
			<br />
			<ul class="home">
				<li>
					<a href="http://www.tynker.com/hour-of-code/puzzle" target="_blank">
					<i>1</i>
					<h3>Lost in Space - Hour of Code Puzzle</h3>
					<p>
						This is a <b>beginner friendly</b>
						and fun coding puzzle, that let's your child control a little robot.
					</p>
					</a>
				</li>

				<li>
					<a href="http://learn.code.org/hoc/1" target="_blank">
					<i>2</i>
					<h3>Angry Birds - Hour of Code Puzzle</h3>
					<p>This is a beginner friendly, but contains <b>intermediate level</b> material for a child who wants to keep applying fundemental coding principles in a fun, game environment.

					</p>
					</a>
				</li>

				<li>
					<a href="http://info.scratch.mit.edu/Video_Tutorials">
					<i>3</i>
					<h3>Scratch Video Tutorials from the MIT Media Lab</h3>
					<p>Walk through these scratch video tutorials for your <b>advanced</b> child, who wants to build their own custom programs.</p>
					</a>
				</li>

			</ul>

			<div class="col-xs-6 col-xs-offset-3">
				<hr />
			</div>
















  
    <br />






  <div class="booyah-box">
    <div class="padded-box">
    <strong style="font-size:26px; color:#526075;">Section 1</strong>
    <i class="pull-right" style="color:#444;">Estimated Time: 1 Week</i>
    <br style="clear:both" />
    <h3><strong>The essentials</strong></h3>
    <p>
      Installing the same open source web development tools the professionals use.
    </p>
    <p>
      Build a real-world projects using tools like Ruby, Rails, and the command-line.
    </p>
</div>
  <div class="">
    <div class="">
      <h4 class="" style="margin-left:20px;">
        <a data-toggle="collapse" href="#collapseSplurty">
          Show Details
        </a>
      </h4>
    </div>
    <div id="collapseSplurty" class="panel-collapse collapse out details" style="background-color:#428bca;border-top: 1px;border-color: #357ebd;border-top-style: solid;">
      <div class="padded-box">
        <div class="col-xs-8">
          <strong>Project Details</strong>
          <ul>
            <li>Install a web development environment on your system using our vagrant install process (other install processes often come back with frustrating error messages - ours is bulletproof).</li>
            <li>Get comfortable using the tools of the trade.  Things like text editors, command lines, servers, web browsers.</li>
            <li>Build out your first application following our step-by-step instructions.</li>
          </ul>

        </div>
        <div class="col-xs-4">
          <strong>Example Student Project</strong>
          <i>Amitav's Splurty</i>
          <a href="http://splurty.herokuapp.com" target="_blank">
            <img alt="Splurty" class="img-responsive" src="/assets/splurty.png" />
</a>        </div>
        <br style="clear:both" />

      </div>
    </div>
  </div>


  </div>
  <br />

  <div class="booyah-box">
    <div class="padded-box">
    <strong style="font-size:26px; color:#526075;">Section 2</strong>
    <i class="pull-right" style="color:#444;">5 Weeks</i>
        <br style="clear:both" />

    <h3><strong>Tackling advanced features</strong></h3>
    <p>
      Build a Yelp clone with us and learn about how to tackle advanced features like Geolocation, Google Maps APIs, Automated Emails.
    </p>
    <p>
      Learn how to wireframe an idea and turn it into an attractive web application with mobile first design approach.
    </p>


</div>





  <div class="">
    <div class="">
      <h4 class="" style="margin-left:20px;">
        <a data-toggle="collapse" href="#collapseNomster">
          Show Details
        </a>
      </h4>
    </div>
    <div id="collapseNomster" class="panel-collapse collapse out details" style="background-color:#428bca;border-top: 1px;border-color: #357ebd;border-top-style: solid;">
      <div class="padded-box">
        <div class="col-xs-8">
          <strong>Project Details</strong>
          <ul>
            <li>Go over complex database relationships.</li>
            <li>Standing on the shoulders of giants by using open-source gems.</li>
            <li>Build out a user dashboard.</li>
          </ul>

        </div>
        <div class="col-xs-4">
          <strong>Example Student Project</strong>
          <i>Ben's Nomster</i>
          <a href="http://nomster.herokuapp.com" target="_blank">
            <img alt="Nomster" class="img-responsive" src="/assets/nomster.png" />
</a>        </div>
        <br style="clear:both" />

      </div>
    </div>
  </div>






  </div>
    <br />

  <div class="booyah-box">
    <div class="padded-box">
    <strong style="font-size:26px; color:#526075;">Section 3</strong>
    <i class="pull-right" style="color:#444;">4 Weeks</i>
            <br style="clear:both" />

    <h3><strong>Building complex systems</strong></h3>
    <p>
Build a Skillshare clone with us and learn tackle even more advanced features like Video Streaming, AJAX Requests, and multiple user roles.
    </p>
<p>
  Learn the mentality you need to have to build out your idea.
</p>
</div>






  <div class="">
    <div class="">
      <h4 class="" style="margin-left:20px;">
        <a data-toggle="collapse" href="#collapseFlixter">
          Show Details
        </a>
      </h4>
    </div>
    <div id="collapseFlixter" class="panel-collapse collapse out details" style="background-color:#428bca;border-top: 1px;border-color: #357ebd;border-top-style: solid;">
      <div class="padded-box">
        <div class="col-xs-8">
          <strong>Project Details</strong>
          <ul>
            <li>Starting with JavaScript in a practical use case.</li>
            <li>Learn payment processing with stripe.</li>
            <li>Build an application with us that you will be able to monetize.</li>
            <li>We start ramping up the 1-on-1 mentor sessions because you're ready for them now.</li>

          </ul>

        </div>
        <div class="col-xs-4">
          <strong>Example Student Project</strong>
          <i>Pete's Flixter</i>
          <a href="http://flixter.herokuapp.com" target="_blank">
            <img alt="Flixter" class="img-responsive" src="/assets/flixter.png" />
</a>        </div>
        <br style="clear:both" />

      </div>
    </div>
  </div>




</div>




	<div class="clr" ></div>

	<br />
	<br />
	<footer>
	    <p>&copy; 2014, Learn2Code4Kids. <a href="mailto:hello@learn2code4kids.com">Contact us</a> or follow us on <a href="http://twitter.com/Learn2Code4Kids">Twitter</a> and </p>
	    <p class="slogan">Let's start coding!</p>
	</footer>



