
<style>
.omgbtn {border: 0;
border-bottom: 3px solid #a80000;
background-color: #dd390d;
color: white;
padding: 5px 15px;
width: auto;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
cursor: pointer;
line-height: 16px;
}

input {
	font-size:20px;
}


  .avatar-frame{
    box-shadow: -5px 5px 4px rgba(30,30,30,0.5);
  
  }
  .avatar-frame,.avatar-frame img{
  width: 90px;
  height: 90px;
  -webkit-border-radius: 75px; /* Saf3+, Chrome */
  border-radius: 75px; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px; Disabled for FF1+ */
  margin:auto;
  }

  .btn-omg {
    margin-left:20px;
    border-color:#BF0D0D !important;

}

a.btn-omg {
	    color: #BF0D0D !important;
}
a.btn-omg:hover {
  background-color:#BF0D0D;
  color:white !important;
}

.ooooo {
	box-shadow: 1px 1px 2px 0 #d0d0d0;
border: 1px solid #ccc;
border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}


</style>
		<nav class='navbar navbar-default' role='navigation'>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class='navbar-header'>
				<a class="navbar-brand" href="/">
					<b>Learn2Code4Kids</b>
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
		</nav>




<br style="clear:both;" />


<div class="ooooo box col-sm-3 col-sm-offset-1 col-xs-12 booyah-box goosehunter" style="margin-bottom:5px;">
	
	    <h3 class="text-center" style="margin:10px;"><b>Marco Morawec</b></h3>
	    <div class='avatar-frame text-center'>

	    <img alt="Marco" src="http://www.firehoseweekend.com/assets/marco-3ffcb66b035a76c5cf237d7aab4dfa52.jpg" class="img-responsive" />
</div>

    <h4 class="text-center" style="font-weight:200; color:#777777;">Your Child's Code Mentor</h4>

  </div>


  <div class="ooooo col-sm-6 col-sm-offset-1 col-xs-12 col-xs-offset-0 booyah-box" style="height:206px;padding:0px;background-color:#F4F4F4">
    <div style="background-color:#d3360b; font-size:18px; font-weight:bold; color:white; padding:8px; border-bottom:1px; border-color:#BF0D0D; border-bottom-style:solid;">
      Have any questions?  Schedule a call with Marco!
    </div>
    <h2 style="font-family:Helvetica Neue, Helvetica, sans-serif;font-weight:200; margin-left:20px; margin-top:10px;" class="pull-left"><%= closest_weekday_in_future.strftime("%A, %B %d") %></h2>
    <div class="pull-right" style="margin-top:20px; margin-right:20px;">
      <a href="https://marco-vca.youcanbook.me/">View More Times &raquo;</a></div>

      <hr style="clear:both;" />
    <div class="col-xs-10 col-xs-offset-1" style="margin-top:10px;">
    <a class="btn btn-default btn-sm btn-omg" href="https://marco-vca.youcanbook.me/" style="border-color:#357ebd;color:#256e9d;">11:15 AM</a>
    <a class="btn btn-default btn-sm btn-omg" href="https://marco-vca.youcanbook.me/" style="border-color:#357ebd;color:#256e9d;">04:15 PM</a>


    <a class="btn btn-default btn-sm btn-omg" href="https://marco-vca.youcanbook.me/" style="border-color:#357ebd;color:#256e9d;">05:45 PM</a>
  </div>

  </div>

  <br style="clear:both;" />
  <br style="clear:both;" />
  <br style="clear:both;" />
  <h2 class="col-xs-10 col-xs-offset-1">Learn2Code4Kids Syllabus</h2>

  <div class="booyah-box box ooooo padded-box col-xs-10 col-xs-offset-1">
    <strong style="font-size:26px; color:#a80000;">Overview</strong>
    <i class="pull-right" style="color:#444;">3 Months, 3 hours per week</i>
    <br style="clear:both;" />
    <ul>

    	<li><p>30 minute virtual 1-on-1 coding session with your child (you can come, but you don’t need to if you don’t want to)</p></li>

		<li><p>A clear path to get your child excited about coding</p></li>
		<li><p>A positive role model for your child who has developed web applications in the real world from successful startups</p></li>
    </ul>
  </div>







		<div class='col-xs-12 col-sm-10 col-sm-offset-1' id="vip-section">
			<h1 class="text-center">How We Do It</h1>
			<h2 class="text-center">
				Read here to see how we get your child coding!
			</h2>
			<br />


			<ul class="home">
				<div class="box ooooo">
					<li>
						<a href="#">
						<i>1</i>
						<h3>Getting Comfortable Coding: Play the Games
						</h3>
						<p><em>1 Week, 3 Hours of Work</em></p>

						<p>
							These are <b>beginner friendly</b>
							and fun coding puzzles, that let's your child control a little robots and angry birds.
						</p>
						</a>
					</li>
				</div>
				<br/>

				<div class="box ooooo">
				<li>
					<a href="#">
					<i>2</i>

					<h3>Building Games using Scratch</h3>
					<p><em>4 Weeks, 3 Hours of Work each Week</em></p>

					<p>Students learn to build <b>fun interactive games</b> using MIT's Scratch Program.

					</p>
					</a>
				</li>
				</div>
				<br/>

				<div class="box ooooo">
					<li>
						<a href="http://info.scratch.mit.edu/Video_Tutorials">
						<i>3</i>
						<h3>Graduating to Real-world coding - Learn Javascript</h3>
						<p><em>8 Weeks, 3 Hours of Work each Week</em></p>

						<p>Your child goes through codecedemy lessons and our own video lessons about how to <strong>use javascript in the real world</strong> to build a fun cat fact site.</p>
						</a>
					</li>
				</div>

			</ul>

			<div class="col-xs-6 col-xs-offset-3">
				<hr />
			</div>

    <br style="clear:both" />


  <div class="ooooo col-xs-5 blue-box" style="background-color:#F4F4F4; margin-top:30px; color:black;">
    <h3 style="font-size: 20px; font-weight:bold; margin:10px;">Next class starts Monday, July 14</h3>
<hr style="margin:10px;"/>
    <h3 style="margin:10px;"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=CYSQB2YL2C3WQ">Enroll</a> or speak with a coding mentor by <a href="mailto:hello@learn2code4kids.com">emailing us</a> or scheduling a call above.</h3>
  </div>

  <div class="col-xs-7" style="padding-left:100px; padding-top:10px;">
    <h2 style="color:#111;"><strong>Enroll Your Child Today</strong></h2>
    <h2 style="color:#a80000;"><strong>Cost: $349/month</strong></h2>

    <p class="text-justify">
    	<u>A note on pricing</u>: We thought long and hard what a fair price for teaching kids how to code should be. Given that the current market price for any one week long computer camp starts at $600+ we deemed it more than fair to charge about half that for a month long virtual course that gives your child more individual attention than any 20+ kids class ever can.
    </p>

  </div>







</div>




	<div class="clr" ></div>

	<br />
	<br />
	<footer>
	    <p>&copy; 2014, Learn2Code4Kids. <a href="mailto:hello@learn2code4kids.com">Contact us</a> or follow us on <a href="http://twitter.com/Learn2Code4Kids">Twitter</a> and </p>
	    <p class="slogan">Let's start coding!</p>
	</footer>



