// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
height:206px;
padding:0px;
background-color:#F4F4F4;
padding: 12px;
}